// :root{
//   --primary-color: #272727;
// }
// body{
//   background-color: var(--primary-color);
// } in plain css

@use "sass:map";
@use "./resets";
@use "./variable";

body {
  background-color: variable.$primary-color;
  font-weight: map.get(variable.$font-weights, bold);
}
.main{
    width: 80%;
    margin: 0 auto;

    p{
        color: aliceblue;
    }
    #{&}_paragraph{
        color: aqua;
        &:hover{
            color: pink;
        }
    }
}
